/**
 * @file
 * Stylesheet for the twilio_conferencing module.
 */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#twilio-conference {
  background-color: #fff;
  border: 1px solid #069;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}

/**
 * Conference status styles
 */
#twilio-conference #status {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  width: auto;
}

#twilio-conference .offline {
  background-color: #cd5757;
  border-color: #832a2a;
  color: #fff;
}

#twilio-conference .joining {
  background-color: #f3ee9a;
  border-color: #cbc22d;
  color: #968f1d;
}

#twilio-conference .online {
  background-color: #83c98e;
  border-color: #018c18;
  color: #fff;
}

/**
 * Conference functions style
 */
#twilio-conference #conference-functions {
  margin-bottom: 10px;
}

#twilio-conference #conference-functions a {
  background-color: #a2ceea;
  border: 1px solid #167dbe;
  border-radius: 5px;
  display: block;
  padding: 5px;
  text-align: center;
  width: auto;
}

#twilio-conference #conference-functions a.inactive {
  background: #cce8fa;
  border: 1px solid #81bee5;
  color: #81bee5;
  display: none;
}

/**
 * Participants style
 */
#twilio-conference h2.conf-participants {
  border-bottom: 1px solid #696969;
  font-size: 12px;
  line-height: 26px;
}

#twilio-conference #participants .a-participant {
  border-bottom: 1px dotted #9d9d9d;
  clear: both;
  margin-bottom: 1px;
  overflow: hidden;
}

#twilio-conference #participants .odd {
  background-color: #dedede;
}

#twilio-conference #participants .even {
  background-color: #c8c8c8;
}

#twilio-conference #participants .user-line {
  background-color: #c2e2ea;
}

#twilio-conference #participants .a-participant div.participant-name {
  float: left;
  line-height: 24px;
  padding-left: 10px;
}

#twilio-conference #participants .a-participant div.participant-mute {
  float: right;
  height: 24px;
  padding-right: 6px;
  width: 30px;
}
